<html>
<head>
    <title>
        <h1 style="color:brown;"> Приветствуем Вас в трекере заявок! </h1>
    </title>

</head>

<body>
<div><h1 align="center" style="color:olive"> Приветствуем Вас в трекере заявок! </h1></div>
<a href="/tracker/menu"><h2 align="center" style="color:green;">> Меню заявок</h2></a>
</body>
</html>