<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Меню заявок</title>
</head>
<body>
<div><h1 align="center" style="color:brown;"> Меню заявок </h1></div>
<a href="/tracker/create"><h2 align="center" style="color:green;">> Создать заявку</h2></a>
<a href="/tracker/update"><h2 align="center" style="color:green;">> Изменить заявку</h2></a>
<a href="/tracker/delete"><h2 align="center" style="color:green;">> Удалить заявку</h2></a>
<a href="/tracker/greeting"><h2 align="center" style="color:coral;">> Главное меню</h2></a>
</body>
</html>